<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet" type="text/css"> 
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet" type="text/css">

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />

<!-- UItoTop (go to top) plugin -->
<style type=text/css>
#toTop {
        display:none;
        text-decoration:none;
        position:fixed;
        bottom:10px;
        right:10px;
        overflow:hidden;
        width:51px;
        height:51px;
        border:none;
        text-indent:-999px;
        background:url("{{ site.baseurl }}/assets/images/ui.totop.png") no-repeat left top;
}

#toTopHover {
        background:url("{{ site.baseurl }}/assets/images/ui.totop.png") no-repeat left -51px;
        width:51px;
        height:51px;
        display:block;
        overflow:hidden;
        float:left;
        opacity: 0;
        -moz-opacity: 0;
        filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
        outline:none;
}
</style>

<!-- end custom head snippets -->
